.aboutUs {
    font-size: 1.3rem;
}

.aboutUs h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 3rem;
}

.aboutUs h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 3rem;
}