.orderPage{
    /* display: flex;
    justify-content: space-around; */
    padding: 3rem 0rem 6rem;
}

.form-control{
    display: flex;
    justify-content: space-between;
}

.orderList-container{
    /* border-left: 2px solid gray; */
}

.orderService{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.orderService span{
    font-weight: 500;
    color: #000;
}
