.headerDescription {
    color: rgb(249, 243, 243);
    text-align: center;
    background-color: #212529;
    padding: 6rem 2rem 2rem 2rem;
}

.cart-button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    padding: 0.4rem 0.5rem;
}

.cart-button:hover,
.cart-button:active {
    background-color: #4d4b4a;
}

.cart-icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.cart-badge {
    color: rgb(252, 252, 252);
    background-color: #181818;
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

.cart-button:hover .badge,
.cart-button:active .badge {
    background-color: #000000;
}

.bump {
    animation: bump 300ms ease-out;
}