.cardItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.cardItemImg {
    height: 100%;
    width: 100%;
}
.cardItemImg img{
    height: 90%;
    width: 100%;
    border-radius: 8px;
}

.cardItem-footer {
    margin-top: 2rem;
}
