.cardItem {
    display: flex;
    width: 18rem;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.cardItemImg {
    height: 100%;
    width: 100%;
}
.cardItemImg img{
    height: 90%;
    width: 100%;
    border-radius: 8px;
}

.cardItem-footer {
    margin-top: 2rem;
}

@media  (max-width: 400px) {
    .cardItem {
        margin: 0 auto 3rem;
        width: 400px;
    }
}