.itemPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    height: 50rem;
    overflow: auto;
}

.itemPage-gallery {
    width: 100%;
    padding: 20rem 1rem;
}

.itemPage-description {
    margin-left: 3rem;
    padding-top: 4rem;
    align-self: flex-start;
    line-height: 1.5;
}

.itemPage-description-name {
    font-size: 35px;
}

.itemPage-description-price {
    font-weight: 800;
    font-size: 20px;
}

.itemPage-description-color {
    margin-bottom: 2rem;
}

.itemPage-description-color div {
    display: flex;
}

.itemPage-description-button {
    height: 3rem;
    margin-bottom: 2rem;
}

.itemPage-description-button button {
    width: 80%;
    height: 100%;
    font-size: 19px;
    font-weight: 600;
    border-radius: 30px;
}

.itemPage-description-text {
    margin: 0 auto;
    padding: 3%;
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: rgb(251, 250, 250);
    /* box-shadow: 5px 5px 5px 5px #888888; */
}

.itemPage-description-dropboxes img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.itemPage-description-dropboxes p {
    margin-right: 5rem;
    padding-top: 0.8rem;
    flex-basis: 60%;
    align-items: center;
}

.itemPage-description-dropboxes-returning img:last-of-type {
    width: 1.5rem;
    height: 1.5rem;
}

.service-return {
    width: 80%;
    text-align: justify;
}

.service-return p {
    margin-bottom: 10px;
}

.service-return ul,
ol {
    margin-bottom: 10px;
    margin-left: 20px;
}

.service-return li {
    margin-bottom: 5px;
}

.videoReview {
    width: 80%;
    height: 30rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.videoReview iframe {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.videoReview p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}