.body-section-items {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    padding:4rem 5rem;
}

/* @media screen and (max-width: 1300px) {
    .body-section-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .body-section-items {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    .body-section-items {
        grid-template-columns: 1fr;
    }
} */